.form {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: var(--main-text-color);
  font-size: 22px;
  font-weight: 800;
  line-height: 164%;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.descr {
  color: #afafaf;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 40px;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  color: var(--main-text-color);
  font-size: 12px;
  font-weight: 800;
  line-height: 1.5;
  position: relative;
  text-transform: uppercase;
}

.input {
  background: #1c1c1c;
  border: 1px solid #454545;
  border-radius: 10px;
  color: var(--main-text-color);
  font-size: 16px;
  font-weight: 300;
  height: 70px;
  margin-bottom: 40px;
  margin-top: 14px;
  padding: 25px;
  width: 370px;
}

.input:active,
.input:focus {
  border: 1px solid var(--main-green-color);
  outline: none;
}

.input::placeholder {
  text-transform: uppercase;
}

.label div {
  color: var(--error-color);
  font-size: 12px;
  left: 50%;
  line-height: 105%;
  padding-left: 5px;
  position: absolute;
  text-transform: none;
  top: 103px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
}

.btn {
  background: var(--main-green-color);
  background-position: 0;
  border: none;
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(63, 156, 20, 0.3);
  color: var(--main-text-color);
  cursor: pointer;
  font-size: 16px;
  font-weight: 800;
  height: 70px;
  line-height: 143%;
  transition: all 0.2s ease-in-out;
  transition: background 0.3s ease-in-out;
  width: 370px;
  text-transform: uppercase;
}

.btn:hover {
  border: none;
  box-shadow: 0 0 45px rgba(63, 156, 20, 0.3);
  outline: none;
  transition: all 0.2s ease-in-out;
}
