.container {
  display: flex;
  height: 100%;
  margin-top: 90px;
  padding-top: 30px;
  width: 1175px;
}

.info {
  margin-top: 80px;
}

.title {
  color: var(--main-text-color);
  font-size: 54px;
  font-weight: 800;
  line-height: 125%;
  margin-bottom: 24px;
  text-transform: uppercase;
  width: 470px;
}

.subTitle {
  color: var(--second-text-color);
  font-size: 20px;
  font-weight: 300;
  line-height: 34px;
  width: 420px;
}

.img {
  align-items: center;
  background-image: url(/src/assets/game_lib_bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 510px;
  width: 54%;
}

.descr {
  color: var(--second-text-color);
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 14px;
}
