.navigation {
  display: flex;
  justify-content: center;
  list-style: none;
}

.icon_link {
  margin-right: 150px;
}

.nav_link {
  display: flex;
  align-items: center;
  color: #afafaf;
  font-size: 14px;
  font-weight: inherit;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  background: none;
  border: none;
}

.nav_link a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 42px;
}

.nav_link:hover {
  color: var(--main-green-color);
  transition: all 0.2s linear;
}

.icon_cont {
  display: flex;
  width: 105px;
}

.icon {
  height: 45px;
  width: 45px;
}

.icon_header {
  transform: translateY(-50%);
  position: absolute;
  color: #faf9f7;
  font-size: 18px;
  font-weight: 800;
  left: 15px;
  letter-spacing: 0.03em;
  margin: 0;
  bottom: 23px;
}

.icon_descr {
  position: absolute;
  transform: translateY(-50%);
  color: var(--second-text-color);
  font-size: 14px;
  font-weight: 300;
  left: -9px;
  text-align: center;
  bottom: 8px;
  width: 150px;
}
