@import '../node_modules/modern-normalize/modern-normalize.css';

:root {
  --main-green-color: #3f9c14;
  --main-text-color: #eaeaea;
  --second-text-color: #afafaf;
  --main-bg-color: #181818;
  --card-bg-color: #1c1c1c;
  --card-border: #454545;
  --error-color: #df1332;
}

@font-face {
  font-family: 'Neue Machina';
  font-display: swap;
  src: url('./fonts/NeueMachina-Ultralight.eot');
  src: local('./fonts/Neue Machina Ultralight'), local('NeueMachina-Ultralight'),
    url('./fonts/NeueMachina-Ultralight.eot?#iefix') format('embedded-opentype'),
    url('./fonts/NeueMachina-Ultralight.woff2') format('woff2'),
    url('./fonts/NeueMachina-Ultralight.woff') format('woff'),
    url('./fonts/NeueMachina-Ultralight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Machina';
  font-display: swap;
  src: url('./fonts/NeueMachina-Light.eot');
  src: local('./fonts/Neue Machina Light'), local('NeueMachina-Light'),
    url('./fonts/NeueMachina-Light.eot?#iefix') format('embedded-opentype'),
    url('./fonts/NeueMachina-Light.woff2') format('woff2'),
    url('./fonts/NeueMachina-Light.woff') format('woff'),
    url('./fonts/NeueMachina-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Machina';
  font-display: swap;
  src: url('./fonts/NeueMachina-Black.eot');
  src: local('Neue Machina Black'), local('NeueMachina-Black'),
    url('./fonts/NeueMachina-Black.eot?#iefix') format('embedded-opentype'),
    url('./fonts/NeueMachina-Black.woff2') format('woff2'),
    url('./fonts/NeueMachina-Black.woff') format('woff'),
    url('./fonts/NeueMachina-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Machina';
  font-display: swap;
  src: url('./fonts/NeueMachina-Regular.eot');
  src: local('Neue Machina Regular'), local('NeueMachina-Regular'),
    url('./fonts/NeueMachina-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/NeueMachina-Regular.woff2') format('woff2'),
    url('./fonts/NeueMachina-Regular.woff') format('woff'),
    url('./fonts/NeueMachina-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Machina';
  font-display: swap;
  src: url('./fonts/NeueMachina-Bold.eot');
  src: local('Neue Machina Bold'), local('NeueMachina-Bold'),
    url('./fonts/NeueMachina-Bold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/NeueMachina-Bold.woff2') format('woff2'),
    url('./fonts/NeueMachina-Bold.woff') format('woff'),
    url('./fonts/NeueMachina-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Machina';
  font-display: swap;
  src: url('./fonts/NeueMachina-Medium.eot');
  src: local('Neue Machina Medium'), local('NeueMachina-Medium'),
    url('./fonts/NeueMachina-Medium.eot?#iefix') format('embedded-opentype'),
    url('./fonts/NeueMachina-Medium.woff2') format('woff2'),
    url('./fonts/NeueMachina-Medium.woff') format('woff'),
    url('./fonts/NeueMachina-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Machina';
  font-display: swap;
  src: url('./fonts/NeueMachina-Ultrabold.eot');
  src: local('Neue Machina Ultrabold'), local('NeueMachina-Ultrabold'),
    url('./fonts/NeueMachina-Ultrabold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/NeueMachina-Ultrabold.woff2') format('woff2'),
    url('./fonts/NeueMachina-Ultrabold.woff') format('woff'),
    url('./fonts/NeueMachina-Ultrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

html {
  cursor: url(./assets/cursor.png) 2 2, pointer;
}

body {
  color: var(--main-text-color);
  font-family: 'Neue Machina', sans-serif;
  background-color: var(--main-bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  font-family: inherit;
}

input {
  font-family: inherit;
}

.notiflix-notify {
  text-align: center;
}

#root {
  background: linear-gradient(180deg, hsla(0, 0%, 9%, 0), #181818),
    url(/src/assets/head-bg.png);
  background-size: cover;
  height: 650px;
}

.active {
  display: flex;
  color: var(--main-green-color);
  transition: all 0.2s linear;
  align-items: center;
  border: 1px solid #454545;
  border-radius: 10px;
  font-weight: 700;
  height: 42px;
  justify-content: center;
  width: 72px;
}
